<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FluxusRewrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FluxusRewrite.Properties.Settings>
            <setting name="shadowColor" serializeAs="String">
                <value>51, 51, 51</value>
            </setting>
            <setting name="headerColor" serializeAs="String">
                <value>89, 192, 231</value>
            </setting>
        </FluxusRewrite.Properties.Settings>
    </userSettings>
</configuration>